.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: #2e2e2e;
  font-size: 18px;
}
.link:hover,
.link:focus {
  color: #ff255f;
  transform: scale(1.15);
}

.activeLink {
  composes: link;
  color: #ff255f;
}
